.top-container{ 
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    padding: 100px;
}
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    line-height: 2;
}
h1{
    margin: 100px auto 0 auto;
    font-size: 5.2rem;
    margin: 0 auto 0 auto;
    color: #66bfbf;
    font-family: 'Princess Sofia', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: 1000;
}
h3{
    color: #11999E;
}
a{
    color: #11999E;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    top: 50px;
    right:300px;
}
.skill-row1{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    column-gap: 30px;
    padding-bottom: 30px;
}
.skill-row2{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    column-gap: 30px;
    padding-bottom: 50px;
}
.photo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 30px;
}
.web{
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 30px;
}
.webd{
    height: 200px;
    width: 200px;
    float: right;
    margin-left: 30px;
}
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #11999E;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    line-height: 100px;
  }
  
  .btn:hover {
    background: #0b7478;
    text-decoration: none;
  }
.bottom-container{
    background-color: #66bfbf;
    height: 150px;
    color: #ffffff;
}
.footer-link{
    line-height: 100px;
    margin-right: 20px;
    text-decoration: none;
}
.footer-link:hover{
    color: #ffffff;
    font-size: 20px;
}
hr{
    border-style: dotted none none;
    border-color: rgb(201, 199, 199);
    border-width: 10px;
    width: 15%;
    border-spacing: 2px;
    margin: 100px auto;
}
.profile{
    margin: 30px auto 50px auto;
    width: 50%
}
@media(min-width:360px) and (max-width:800px){
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2rem;
    }
    .bottom-cloud{
        width: 20%;
        position: absolute;
        left: 10px;
        bottom: 200px;
    }
    .top-cloud{
        width: 20%;
        position: absolute;
        top: 50px;
        right:10px;
    }
    .mountain{
        width: 100%;
        height: auto;
    }
    .photo{
        height: auto;
        width: 70%;
        border-radius: 50%;
        margin-top: 10px;
        text-align: center;
    }
    .profile{
        margin: 10px auto 25px auto;
        width: 100%;
    }
    .skill-row1{
        width: 100%;
        margin: 10px auto 10px auto;
        text-align: center;
        line-height: 1.5;
        padding-bottom: 10px;
    }
    .skill-row2{
        width: 100%;
        margin: 10px auto 10px auto;
        text-align: center;
        line-height: 1.5;
        padding-bottom: 5px;
    }
    .web{
        height: 30%;
        width: 30%;
        float: none;
    }
    .webd{
        height: 30%;
        width: 30%;
        float: none;
    }
    .middle-container{
        padding: 50px;
    }
}
